html {
    scroll-behavior: smooth;
  }

.icon{
    transition: transform 0.3s ease-in-out;  
}

/* 设置侧边栏跟随上方大div悬浮（会随页面滚动） */
.floating {
    position: fixed;
    top: 10vh;
    right: 30px;
    transition: opacity 0.3s ease-in-out;  
}

/* 展开按钮 */
.expand-button{
    width:25px;
    height:25px;
    background:#fff;
    border-radius:50px;
    position:fixed;
    bottom:10px;
    top: 54vh;
    right:30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.expand-button:hover {
    transform: scale(1.1);
}

/* 主体框架 */
.web-body-frame {
    width: 89.5%;
    float: left;
    margin-left: 20px;
}

/* 侧边栏框架 */
.sidebar-main-frame {
    width: 120px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    opacity: 0;
}


/* 主体分类横条 */
.web-sort {
    font-size: 18px;
    border-radius: 5px;
    margin-left: 0.5%;
    padding: 10px;
    transition: transform .2s;
    /* 动画:过度时间 */
}

/* 主体按钮 */
.web-body {
    width: 257px;
    float: left;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin: 0.5%;
    padding: 10px;
    transition: transform .2s;
    /* 动画:过度时间 */

}


/* 按钮动画 */
.web-body:hover {
    transform: scale(1.05);
}


/* 按钮图标 */
.web-icon {
    float: left;
    border-radius: 8px;
    margin-right: 10px;
    width: 50px;
    height: 50px;

}

.web-icon img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: contain;
    position: relative;
}

.icon-img {
    position: relative;
    float: right;
    /* 其他样式 */
}

/* 按钮文字 */
.web-body a {
    font-size: 15px;
}

/* 所有小图标都右边距 5 像素 */
i {
    margin-right: 5px;
}

/* 侧边栏 */
.sidebar-options {
    width: 100%;
    margin: 6px 10px 0 5px;
}

.sidebar-options-vice {
    width: 100%;
    margin: 10px;
}

.sidebar-frame {
    text-align: left;
    position: sticky;

}

/* 锚点偏移 */
:target {
    scroll-margin-top: 20vh;
    /* 固定偏移量 */
}

/* 搜索框 */
.search-input {
    height: 35px;
    width: 60%;
    background-color: #fff;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
}

.search-input input {
    font-size: 16px;
    outline: none;
    border: none;
}

.search-input input:focus {
    outline: none;
}

/*   侧边栏 收起/展开   */
summary {
    list-style: none;
    /* 去除三角 */
    padding-left: 0;
    /* 兼容老浏览器，去除三角占用的空间  */
    cursor: url(/img/Hand2.cur), auto !important;
}

.summary-s {
    padding: 5px;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
}

/* 网页小标签 */
.web-tag {
    width: 100%;
    margin-top: 0.5rem;
}

.web-tag div {
    float: left;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 10px;
    white-space: nowrap;
    /* 不换行 */
    margin-right: 6px;
    padding-left: 4px;
    padding-right: 4px;
}